body {
  font-family: "Courier New", Courier, monospace;
}
#title {
  text-align: center;
}
#playAreaContainer {
  display: flex;
  justify-content: space-around;
}
#resultContainer{
    text-align: center;
}
.selected{
    background-color:lightblue;
}